* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
}

body {
   background-image: linear-gradient(to right bottom, #82eff5, #0dbeff);
    background-attachment: fixed;
    font-size: 1.5rem;
    height: 100%;
    width: 100%;
    font-family: "calibri", sans-serif;
    overflow: hidden auto;
}

.container {
    min-width: 100%;
    padding: 4vw;
    min-height: 100%;
}

@media only screen and (min-width: 1500px) and (max-width: 2000px) {
    .container {

        padding-right: 10%;
        padding-left: 10%;
    }
}

@media only screen and (min-width: 2000px) {
    .container {
        padding-right: 25%;
        padding-left: 25%;
    }
}

#wrap {
    min-height: 100%;
}

#main {
    overflow:hidden auto;
    padding-bottom: 100px;
    /* must be same height as the footer */
}

header {
    width: 100%;
}
header li {
    position: relative;
}
.nav-item:before {
    content: " ";
    position: absolute;
    border-left: 1px #55655c solid;
    top: 40%;
    left: 0;
    height: 30%;
    margin-top: auto;
    margin-bottom: auto;
}

input.nav-link {
    color: black;
}

footer {
    background-color: transparent;
    bottom: 0;
    width: 100%;
    position: relative;
    margin-top: -100px;
    /* negative value of footer height */
    height: 100px;
    clear: both;
}

footer a {
    color: #264973;
    text-decoration: none;
    padding: 1vw;
    position: fixed;
    bottom: 0;
    right: 0;
    font-size: 40px;
}

footer a:hover {
    color: #0a58ca;
}

.copyright {
    position: absolute;
    bottom: 0;
}

img {
    padding: 7vh 3vw 3vh 3vw;
    width: 100%;
    height: auto;
}
.content{
    display:flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.top-boarder {
    padding-top: 2vw;

}

a:link {
    color: black;
}

a:visited {
    color: black;
}

h4 {
    text-align: center;
}

p.centertext {
    text-align: center;
}

.centerlogo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    height: auto;
}

.loginLogo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    height: auto;

}

.loginFont {
    font-family: "calibri", sans-serif;
}

.loginPosition {
    text-align: center;
    padding-top: 75px;
}
table, th, td {
    border-bottom: 1px solid white;
    border-collapse: collapse;
}



