<footer th:fragment="footer">
    <div class="row">
        <div class="col-md-4 float-left" style="font-size: small; margin-left: 2vw ">
            <p><b> Whatever you wish er en startup lavet af en gruppe mennesker som er tr&aelig;t af, at skulle huske
                hele deres &oslash;nskeliste n&aring;r mormor sp&oslash;rger efter den.</b></p>
            <p><i class="fa-solid fa-copyright"></i> Whatever you wish - Whatever... 4.0 - 2022</p>
        </div>
        <div class="col-md-4">
            <a href="#"><i class="fa-solid fa-square-caret-up float-right"></i></a>
        </div>
    </div>

</footer>