<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head th:include="head :: headerfragment"></head>
<body>
<link rel="stylesheet" th:href="@{style.css}" href="../static/style.css">
<div class="container">
    <header th:include="header :: header"></header>
    <div id="wrap">
    <main id="main">
        <div class="centerlogo"> <img th:src="@{images/wishlist.png}"/>
        </div>
        <div class="row">
                <div class="col">
                <div style="padding-top: 3vw">
                                          <h4>Whatever you wish!</h4>
                    <p class="centertext">Velkommen til whatever you wish! Din nye ynglings online &oslash;skeliste!
                        <br>Er du ogs&aring; blevet godt tr&aelig;t af aldrig at have en &oslash;nskeliste klar n&aring;r du
                        bliver spurgt om en?</br>
                        Det er vi nemlig og det er derfor vi har oprettet denne nemme l&oslash;sning for dig!<br>
                        P&aring; vores side kan du gemme din &oslash;nskeliste online og nemt tilf&oslash;je nye
                        elementer til den. <br>S&aring; n&aelig;ste gang du bliver spurgt om
                        din &oslash;nskeliste er du forberedt!</br>
                    </p>
                </div>
            </div>
        </div>
    </main>
</div>
</div>
<footer th:include="footer :: footer"></footer>
</body>
</html>