<!DOCTYPE html>
<html lang=xmlns:th="http:/www.thymeleaf.org">
<head th:include="head :: headerfragment"></head>
<body>
<link rel="stylesheet" th:href="@{style.css}" href="../static/style.css">
<div class="container">
    <header th:include="header :: header"></header>
    <div id="wrap">
        <div class="loginPosition">
            <main id="main">

                <p>For at kunne lave din ønskeliste skal du have et login.<br>
                    Hvis du allerede har en bruger kan du loge ind her.</p>
                <p>
                <p th:if="${loginError}" class="error">Brugernavn og kodeord matcher ikke!</p>
                <form th:action="@{/login}" method="post" style="max-width: 400px; margin: 0 auto;">
                    <label for="username"></label>
                    <input id="username" type="text" placeholder="Brugernavn" name="username" required/>
                    </p>
                    <p>
                        <label for="password"></label>
                        <input id="password" type="password" placeholder="Kodeord" name="pass" required/>
                    </p>
                    <p>
                        <input type="submit" value=" Login "/>
                    </p>
                </form>
                <p> Ellers kan du oprette en ny bruger her:</p>
                <form method="GET" action="/createuser">
                    <input type="submit" value=" Opret ny bruger "/>
                </form>
            </main>
        </div>
    </div>
</div>
<footer th:include="footer :: footer"></footer>
</body>
</html>