<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head th:include="head :: headerfragment"></head>
<body>
<link rel="stylesheet" th:href="@{style.css}" href="../static/style.css">
<header th:include="header :: header"></header>
<div class="container">
    <main>
        <h4>velkommen</h4>
        <p class="centertext">her kan du føje ønsker til din ønskeliste</p>

        <section class="content">
        <div >
            <input  id="itemName" type="text"  placeholder="intaste navet på varen her" name="itemName"/>
        </div>
        <div>
            <input id="description" type="text"  placeholder="intast en beskrivelse af varen her" name="description"/>
        </div>
        <div>
            <input id="quantity" type="text"  placeholder="intast det ønskede antal her" name="quantity"/>
        </div>
        <div>
            <input id="id" type="text"  placeholder="indtast id på varen her" name="id"/>
        </div>
        </section>

    </main>
</div>
<footer th:include="footer :: footer"></footer>
</body>
</html>